parameters:
	level: max
	reportUnmatchedIgnoredErrors: true
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- stubs
	excludePaths:
		- */node_modules/*
		- */tests/*
		- */images/*
		- */js/*
		- */vendor/*
		- */css/*
	ignoreErrors:
		- '#is always (false|true)+.#'
		- '#might not be defined.#'
		- '#no (typehint|value type|return typehint)+ specified.#'
		- '#has no return type specified#'
		- '#with no type specified#'
		- '#has no type specified.#'
